.animal-card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 0;
}

.animal-image > img {
    width: 80%;
}

.animal-info {
    display: flex;
    flex-direction: column;
}

.control {
    display: flex;
    flex-direction: column;
}

.collapse > form {
    margin: 2rem 0;
}

.editButton {
    margin: 2rem 0 1rem 0;
}

.cancel, .save-change {
    width: 100%;
}
